<div class="row">
    
    <div class="col-md-8">
        <a href='@Url.Action("Instrument", "Instrument", new { name = "Saxophone" })' class="thumbnail">
            <p>Saxophone</p>
            <img src="~/Content/Images/Saxophone.png" alt="Saxophone" style="width:150px;height:150px">
        </a>
    </div>
    <div class="col-md-4">
        <h3>Prices</h3>
        <h4>New - $42</h4>
        <h4>Used - $30</h4>
    </div>
</div>
@Html.DisplayText("Once the 18 months has been achieved, the client owns the instrument. If they return it at any time before 3 months there will be a $200 re-stocking fee. If they return it after 3 months they forfeit any equity in the instrument.")
@*ViewBag.Instrument = name;

           if (name.Equals("Saxophone"))
	        {
                ViewBag.price = "$42 a month";
                ViewBag.price = "$30 a month";
	        }*@
