@{
    ViewBag.Title = "BlowOut Musical Instrument Rentals";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Blow Out</h1>
            <p class="lead">We Blow our Competitors out of the Water</p>
        </div>
        <div class="col-md-4">
            <img src="~/Content/Images/drums.png" alt="Drums" style="width:150px;height:150px" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>At BlowOut we strive to get you the best deal on new and used instruments.</p>
        <p>Whether you know exactly what you want, or need to try out a few things first.</p>
        <p>We offer all of our new and used inventory to buy<sup>1</sup>, rent<sup>2</sup>, or rent-to-own<sup>2</sup>.<p>
        <p><i>1. For purchase information please contact us directly</i></p>
        <p><i>2. Rent and rent-to-own require a credit check, and not all customers may qualify.</i></p>
    </div>
    <div class="col-md-6">
        <blockquote class="blockquote-reverse">
            <p>Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything.</p>
            <footer>Plato</footer>
        </blockquote>
    </div>
</div>